{% include 'includes/head.html' %}
{% include 'includes/header.html' %}


<section class="plant-page col-sm-12 text-center">
    <h1 class="text-center">Edit Employee</h1>
    <div class="text-center col-sm-4 offset-sm-4">
        <form action="{{ url_for('employee_update', id=employee.id) }}" method="POST">
            <div class="form-group">
                <label for="name">Name: </label>
                <input class="form-control" name="name" id="name" value="{{ employee.name }}">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input class="form-control" name="email" id="email" value="{{ employee.email }}">
            </div>
            <div class="form-group">
                <label for="department_type">Department_type:</label>
                <input class="form-control" name="department_type" id="department_type" value="{{ employee.department_type }}">
            </div>

            <div class="form-group">
              <label for="department_id">Department: </label>
                <select class="form-select" name="department_id" >
                    {% for plant in plants %}
                        <option value="{{ plant.id }}" {% if department_id == plant.id %}} selected {% endif %}>{{ plant.name }}</option>
                    {% endfor %}
                    {% for salon in salons %}
                        <option value="{{ salon.id }}" {% if department_id == salon.id %}} selected {% endif %}>{{ salon.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</section>


{% include 'includes/footer.html' %}