{% include 'includes/head.html' %}
{% include 'includes/header.html' %}

<section id="base" class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <h2>Plants</h2>
            <ul class="list-group" id="plants">
                {% for plant in plants %}
                    <li class="list-group-item"><a href="{{ url_for('plant', id=plant.id)}}">{{ plant.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-offset-2 col-sm-4 text-center">
            <h2>Employees</h2>
            <ul class="list-group" id="employees">
                {% for employee in employees %}
                    <li class="list-group-item"><a href="{{ url_for('employee', id=employee.id) }}">{{ employee.email }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-offset-3 col-sm-4 text-center">
            <h2>Salons</h2>
            <ul class="list-group" id="salons" >
                {% for salon in salons %}
                    <li class="list-group-item"><a href="{{ url_for('salon', id=salon.id) }}">{{ salon.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}